# Django settings
SECRET_KEY="FollowTheWhiteRabbit"
DEBUG=True
DJANGO_ALLOWED_HOSTS=['*']

# PostgreSQL settings
POSTGRES_DB=players_db 
POSTGRES_USER=42student
POSTGRES_PASSWORD=

# Django settings
DB_HOST=db
DB_PORT=5432
PWD_PATH=${PWD}
PROJECT_PATH=${PWD_PATH}/pong

# ElasticSearch settings
STACK_VERSION=8.14.3
CLUSTER_NAME=docker-cluster
LICENSE=basic

ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=

# Kibana settings
KIBANA_PORT=5601
KIBANA_USERNAME=kibana_system
KIBANA_PASSWORD=

ENCRYPTION_KEY=c34d38b3a14956121ff2170e5030b471551370178f43e5626eec58b04a30fae2
