# Django settings
SECRET_KEY=
DEBUG=True
DJANGO_ALLOWED_HOSTS=['*']

# PostgreSQL settings
POSTGRES_DB=players_db
POSTGRES_USER=42student
POSTGRES_PASSWORD=test

DB_HOST=db
DB_PORT=5432

PROJECT_PATH=${PWD}/pong
POSTGRES_DATA_PATH=${PWD}/data/db
