<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournaments List</title>
</head>
<body>
    <h1>Tournaments List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Number of Players</th>
                <th>Date</th>
                <th>Winner</th>
            </tr>
        </thead>
        <tbody>
            {% for tournoi in tournois %}
            <tr>
                <td>{{ tournoi.id }}</td>
                <td>{{ tournoi.name }}</td>
                <td>{{ tournoi.nbr_player }}</td>
                <td>{{ tournoi.date }}</td>
                <td>{{ tournoi.winner.name }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No tournaments found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
